/* webfonts, custom variables, global resets, and changes to body */
@font-face{
    font-family: "Cartoon";
    src: url("./fonts/3Dumb.woff2") format("woff2"),
        url("./fonts/3Dumb.woff") format("woff");
}


*{
    --base-background-color: gray;
}

h1, h2, h3, p{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    gap: 10px;
    font-family: Helvetica, Arial, sans-serif
}

/* stylize all tiny circular buttons */
.help.button, .add-todo.button, .new-dropdown.button{
    aspect-ratio: 1/1;
    border-radius: 60%;
    border: none;
    width: 25px;
}

.help.button {
    align-self: flex-end;
}

/* section and style page into 3 main sections */

.base.area{
    display:grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 200px 1fr;
    background-color: var(--base-background-color);
    border-radius: 10px;
}

/* stylize header */

.header.area{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .header.logo{
        font-family: "Cartoon";
        font-size: 40px;
    }
}


/* stylize sidebar area*/
.sidebar.area{
    display:flex;
    flex-direction: column;
}

.sidebar .bar.area{
    border: solid 1px black;
    flex: 0 0 60px;
    /* center text */
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* stylize dropdown for new todo or project */


/* display child todos of projects as wanted */
.sidebar .project-and-child-todo{
    display:flex;
    flex-direction: column;
}

.sidebar .project-and-child-todo .todo.bar.area {
    flex: 0 0 40px;
    padding-left: 40px;
}
