/* webfonts, custom variables, global resets, and changes to body */
@font-face {
    font-family: "Cartoon";
    src: url("./fonts/3Dumb.woff2") format("woff2"),
        url("./fonts/3Dumb.woff") format("woff");
}


* {
    --document-background-color: #B1AFFF;
    --base-background-color: #FFE9D0;
    --button-color: pink;
    --content-background-color: #FFFED3;
    box-sizing: border-box;
}

:root{
    background-color: var(--document-background-color);
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 10px;
    font-family: Helvetica, Arial, sans-serif;
}


/* section and style page into 3 main sections */

.base.area {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 300px 1fr;
    background-color: var(--base-background-color);
    border-radius: 10px;
    max-width: 1000px;
    min-width: 600px;
}

/* stylize header */

.header.area {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header.logo {
        font-family: "Cartoon";
        font-size: 40px;
        flex-grow:1;
        text-align: center;
    }

    .help.button{
        aspect-ratio: 1/1;
        border-radius: 60%;
        width: 25px;
        margin: 10px;
        align-self: flex-start;
    }
    
}


/* stylize sidebar area*/
.sidebar.area {
    display: flex;
    flex-direction: column;
    position: relative;

    .button{
        border: 2px solid var(--button-color);
        transition-duration: 0.4s;
        padding: 10px;
        background-color: white;
    }

    .button:hover, .button.pressed{
        background-color: var(--button-color);
        color: white;
    }

    .new-button.container{
        position: absolute;
        top: 50px;
        flex-direction: column;
        align-self: center;
    }

    /* default hsla values for sidebar bar colors */
    --h: 199;
    --s: 100;
    --l: 87%;
    --a:1;

    .bar.area {
        border: solid 1px rgb(0, 0, 0);
        flex: 0 0 60px;
        /* center text */
        display: flex;
        align-items: center;
        padding-left: 20px;
        background: hsl(var(--h) var(--s) var(--l) / var(--a));
        justify-content:space-between;
    }

    .bar.area.open{
        --l: 70%;
    }

    /* style the form that appears to edit name */
    .bar.area form{
        display: flex;
    }

    .bar.area form input{
        margin-left: -10px;
        padding: 5px 12px;
        --l: 25%;
        border: 2px solid gray;
        width: 250px;
    }

    .bar.area form .submit.button{
        padding: 10px 2px;
        font-size: 12px;
        text-align: center;
    }
}

/* display child todos of projects as wanted */
.sidebar .project-and-child-todo {
    display: flex;
    flex-direction: column;
}

.sidebar .project-and-child-todo .todo.bar.area {
    flex: 0 0 40px;
    padding-left: 40px;
}

/* stylize content area */
.content.area{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: var(--content-background-color);

    .content.title{
        align-self:center;
    }

    .content.date{
        align-self: flex-end;
    }



    .checklist.area{
        display:grid;
        grid-template-columns: 30px 1fr;
        align-items:end;
    }

    /* default text content */
    .default.text{
        text-align: center;
        font-size: 20px;
    }

    .add-todo.button{
        align-self: center;
        width: max-content;
        aspect-ratio: auto;
        padding: 10px;
        border: 2px solid var(--button-color);
        transition-duration: 0.4s;
        background-color: white;
    }

    .add-todo.button:hover{
        background-color: var(--button-color);
        color: white;
    }
}

/* stylizing dialogs! */

dialog.delete.dialog form{
    display:grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;

    label{
        text-align:end;
    }

    select{
        padding: 5px;
    }

    .container{
        grid-column: 2/3;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }

    .container .button{
        padding: 5px;
    }
}

dialog.new.todo.dialog form{
    display:flex;
    flex-direction: column;
    gap: 10px;

    > *{
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 10px;
    }

    select, input {
        padding: 5px;
    }

    label, p{
        align-self: center;
    }

    .priority.question.area{
        display:flex;
        justify-content: space-between;

        .container{
            align-self: center;
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 2px;
            margin-right: 100px;
        }
    }

    .description label{
        align-self:flex-start;
    }

    textarea{
        min-width: 237.25px;
        max-width: 577px;
        padding: 5px;
    }

    .checklist.question.area{
        div.checklist{
            grid-column: 2/3;
            display: flex;
            gap: 10px;
        }
        input {
            width: 100%;
        }
        label{
            text-align:end;
        }
        .add.checklist.button{
            grid-row: -1/0;
            grid-column: 2/3;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 1px solid rgb(54, 54, 54);
            padding: 5px;
            justify-self: flex-end;
        }
    }

    .container{
        grid-column: 2/3;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }

    .container .button{
        padding: 5px;
    }
}